// SETTINGS

$baseline: 26px;

$type-sizes: (
  small: 12px, 
  text: 18px, 
  big: 22px, 
  huge: 36px
);

$sections: sport, news, travel;

$colors: (
  sport: #008000,
  news: #D61D00,
  travel: #066EC9
);